<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.men.boyclothesclub" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Base.ui.WebActivity" />
        <activity android:name=".FristPage1.ui.BrandRORActivity" />
        <activity android:name=".FristPage1.ui.BrandUOActivity" >
        </activity>
        <activity android:name=".FristPage1.ui.BrandVISHOWActivity" >
        </activity>
        <activity android:name=".FristPage1.ui.BrandUNIActivity" >
        </activity>
        <activity android:name=".FristPage1.ui.BrandSIMActivity" >
        </activity>
        <activity android:name=".FristPage1.ui.BrandGXGActivity" >
        </activity>
        <activity android:name=".FristPage1.ui.MatchActivity" >
        </activity>
        <activity android:name=".FristPage1.ui.ShopRCActivity" >
        </activity>
    </application>

</manifest>
